@use "src/styles/vars";

.header {
  background-color: vars.$primaryColor;
  text-align: center;
  color: white;
  padding: 2rem;

  &__title {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 0.5rem
  }
}
